body { 
    background-color: aquamarine;
}
.Iguanas{
background-color: blue;width: 700;
}
.Title{
    background-color: rgb(252, 0, 0) ;width: 120;
}
.Abilities{
    background-color: cadetblue;width: 684;
}